# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore all files
/**        export-ignore

# Only include the gdscript-async-utils addons folder when downloading from the Asset Library.
/addons    !export-ignore
/addons/gdscript-async-utils/** !export-ignore
# Ignore gut addon
/addons/gut/** export-ignore